:host{

    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;


    & > .archive{
        text-decoration: line-through;
    }

    & > *:first-child{
        flex-grow: 1;
    }

}

