<div id="app-container">
  <div id="counter-container">
    <app-counter-badge [label]="'Open'" [badgeLabel]="'11'"></app-counter-badge>
    <app-counter-badge [label]="'Done'" [badgeLabel]="'5'"></app-counter-badge>
    <app-counter-badge [label]="'Archived'" [badgeLabel]="'15'"></app-counter-badge>
  </div>
  <div id="todo-input-container">
    <app-add-todo></app-add-todo>
  </div>
  <div id="todo-list-container">
    <h4>Todos:</h4>
   <app-todo-list [todoList]="todos" ></app-todo-list>
  </div>
  <div id="archived-todo-list-container">
    <h4>Archived Todos:</h4>
    <app-todo-list></app-todo-list>
  </div>
</div>
